
body {
  background-color: #444444;
   color: white;
   font-family: calibri ,arial, helvetica;
   margin: 10% 20%;
}

.exp-header{
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom:  1px solid #dddddd;
}
  
