 body {
  background: #7BBCC6;
  font-family: calibri, arial, helvetica;
}

h1 {
  font-family: helvetica-bold, Courier New, calibri;  
}
 

.link a:link {
  float: center;
  position: absolute;
  top:  10%;
  left: 70%;
  color: white;
  text-shadow: 2px 3px 8px black;
}

.link a:hover {
  color: black;
}

.link a:visited {
  color: white;
}

.link a:active {
  color: blue;
}

.banner {
  background-image: url("https://cdnassets.hw.net/38/74/a21a44ae43b1bf098efefe2f9c5c/eba816be-3f94-4fab-9827-7361b6464725.jpg");
  background-color: #7BBCC6;
  height: 219px;
  background-position: center;
  width: 110%;
  background-size: cover;
  background-repeat: no-repeat;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-radius: 0px;
}

.banner-title {
  font-size: 23px;
  float: right;
  position: absolute;
  top:  35%;
  left: 20%;
  color: white;
  text-shadow: 2px 3px 8px black;
  }
  
.banner-text {
  font-size: 25px;
  margin-right: 30px;
  float: right;
  position: absolute;
  top:  55%;
  left: 20%;
  color: white;
  text-shadow: 2px 3px 8px black;
  }

  .roundel {
  height: auto;
  width: 200px;
  margin-right: 30%;
  padding: 10px 10px 10px;
  position:absolute; 
  }

.header {
  color: white;
  width: 100%;
  text-shadow: 1px 3px 10px #000000;
  text-transform: uppercase;
  background-color: #7BBCC6;
  margin: 10px 10px 10px; 
}

.job-title {
  line-height: 2.5px;
  margin: 25px;
}


.experience {
  float: center;
  width: 100%;
  background-color: black;
  border-radius: 4px;
}


.experience, .career-info {
  margin:  2px;
  padding: 2px;
}

.career-info {
  background: white;
  width: 100%;
  padding: px;
  margin: 4px;
}

.career-info,  {
  
}

.description {
  line-height: 1.6;
}

img {
  border-radius: 50%;
  box-shadow: 2px 3px 15px black;
  height: auto;
  width: 100%;
}

.contact-info {
  width: 100px;
  height: 5px;
}


.exp-footer {
  float: right;
  width: 70%;
  
}

@media not screen and (min-width:750px){
  .banner-text {
    font-size: 15px;
    margin-right: 20px;
    margin-left: 1px;
    top: 75%;
    left: 5% 
}
  .banner-title {
  float: right;
  position: absolute;
  top:  64%;
  left: 38%;
  font-size: 12px; 
  color: white;
  text-shadow: 2px 3px 8px black;
  }
  
  .roundel {
    width: 130px;
    top: 37px;
  }
  
  .link a:link {
  position: absolute;
  top:  10%;
  left: 3%;
  color: white;
  text-shadow: 2px 3px 8px black;
}
  .job-title {
    font-size: 80%;
  }
}

@media not screen and (min-width:300px){
  .link {
    visibility: hidden;
  }
  .job-title {
  line-height: 2.5px;
  margin: 25px;
    
  }
  
  
}
